.bodyContainer {
    display: grid;
    flex-direction: row;
    grid-template-areas:
        'nav'
        'header'
        'content'
        'projects'
        'footer';
}
.header {
    display: grid;
    flex-direction: row;
    grid-template-columns: auto;

    /* grid-area: headerbg; */
    width: 100%;
    max-width: 3000px;
    max-height: 400px;

    grid-template-rows: auto auto
        'nav nav'
        'headerbg headerbg'
        '';
}
/* .headerBackground {
    grid-area: headerbg;
    width: 100%;
    max-width: 3000px;
    max-height: 400px;
} */
.content {
    grid-area: content;
}
.projects {
    
    display: grid;
    grid-area: projects;
    flex-direction: row;
    margin-inline: auto;
    border: 5px solid rgba(30, 30, 230, 0.76);
    width: min(70ch, 100% - 4rem);
    grid-template-columns: auto auto;
    margin-top: .5em;
    padding: 1em;
    /* flex-wrap: wrap; */
    grid-template-rows: 50px 30px auto auto;
    grid-template-areas:
        'h2projects h2projects'
        'pProjects pProjects'
        'professionalPortfolio professionalPortfolio'
        'leatherFormCert leatherFormCert';
}
.h2Projects {
    grid-area: h2projects;
}
.pProjects {
    grid-area: pProjects;
}
.professionalPortfolio {
    grid-area: professionalPortfolio;
}
.leatherFormCert {
    grid-area: leatherFormCert;
}

.footer {
    grid-area: footer;
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
    border: 5px solid rgba(30, 30, 230, 0.76);
    border-radius: 0 0 25px 25px;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 1em;
}
.headerBackground {
    grid-area: backgroundimg;
    image-resolution: 3600px;
    max-width: 100%;
    /* grid-template-rows: 500px;
        grid-template-rows:  
        'backgroundimg backgroundimg'
        'h1Portfolio nav'
        'quickIntro'; */
    
}

/* .backgroundMenu {
    display: grid;
    flex-direction: row;
    grid-template-rows: 50% 50%;
    grid-template-rows:
        'h1Portfolio nav'
        'quickIntro quickIntro'   
} */
.h1Portfolio {
    grid-area: h1Portfolio;

}
.quickIntro {
    grid-area: quickIntro;
    padding: 1em;
}
.nav {
    grid-area: nav;
    grid-row-start: 1;
    background-color: forestgreen;
}
.aboutContainer {
    display: grid;
    flex-direction: row;
    margin-inline: auto;
    border: 5px solid rgba(30, 30, 230, 0.76);
    width: min(70ch, 100% - 4rem);
    /* grid-template-columns: 58.5% 289px; */
    grid-template-columns: auto auto;
    
    border-radius: 25px 25px 0 0;
    padding: 0 0 1em 2em;
    grid-template-areas:
    'h2 h2'
    'aboutMe myImg'
    'links skills'
    'contact contact';
}
.item1 {
    grid-area: aboutMe;
    padding-right: 1em;
    margin-top: 0;
}
.item2 {
    grid-area: myImg;
}
.item3 {
    grid-area: links;
    padding-right: 1em;
}
.item4 {
    grid-area: skills;
    font-weight: bold;
}
.item5 {
    grid-area: contact;
    /* margin-inline: auto; */
}
.item6 {
    grid-area: h2;
}
