body {
    /* Find if you can align background image to the left with the gradient next to it */
    /* The code below worked, gradients are off but the text is hard to read. Needs more work to be functional */
    /* background-image: 
        url(/assets/images/Code\ snip.jpg), 
        linear-gradient(to right, #00ffff49, #0a16b9ce);

    background-repeat:repeat-y;
    background-position: right; */
    /* Above piece keeps the image to the right to blend the colors into the image */
    background: linear-gradient(to right, #00ffff49, #0a16b9ce);
    font-family: 'Poltawski Nowy', serif;
    padding: 0 1em;
    text-indent: 2em;
    text-align: center;
}
p {
    font-size: 1.5em;
}
#me {
    max-width: 450px;
}
