body {
    /* Find if you can align background image to the left with the gradient next to it */
    /* The code below worked, gradients are off but the text is hard to read. Needs more work to be functional */
    /* background-image: 
        url(/assets/images/Code\ snip.jpg), 
        linear-gradient(to right, #00ffff49, #0a16b9ce);

    background-repeat:repeat-y;
    background-position: right; */
    /* Above piece keeps the image to the right to blend the colors into the image */
    background: linear-gradient(to right, #00ffff49, #0a16b9ce);
    font-family: 'Poltawski Nowy', serif;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    border: 0;
    margin: 0;
}
#me {
    max-width: 100%;
    border-top-right-radius: 25px;
}
a:link,
a:visited {
    color: rgb(255, 255, 255)
}
textarea,
input {
    vertical-align: top;
    border-radius: 10px;
    /* padding-right: .5em; */
    /* padding: .5em; */
    margin: .5em;
    /* margin-left: 1em; */
    line-height: 1.5;
}
ul{
    padding-left: 19px;
    padding-bottom: 15px;
    margin: 0;
}
.pSkills {
    margin: 0 0 10px 0;
}